<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-success">
        <div class="box-header">
          <h3 class="box-title">Responsive Hover Table</h3>
          <div class="box-tools">
            <a class="adduser btn btn-sm btn-success pull-right"  ui-sref="main.adduser"><i class="fa fa-user-plus"></i> Add User</a>
            <div class="input-group" style="width: 150px;">
              <input type="text" name="table_search" class="form-control input-sm pull-right" placeholder="Search">
              <div class="input-group-btn">
                <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
              </div>
            </div>

          </div>
        </div><!-- /.box-header -->
        <div class="box-body table-responsive no-padding">
          <table  st-safe-src="rowCollection" st-table="displayCollection" class="table table-hover">
            <tr>
              <th>ID</th>
              <th>Firstname</th>
              <th>Lastname</th>
              <th>Role</th>
              <th>Action</th>
            </tr>
            <tbody>
                <tr ng-repeat="row in displayCollection">
                  <td>{{row.id}}</td>
                  <td>{{row.firstname}}</td>
                  <td>{{row.lastname | uppercase}}</td>
                  <td><span class="label label-success">{{row.roles[0].display_name}}</span></td>
                  <td>
                      <a ui-sref="main.userview({ id: row.id })" class="btn btn-default btn-xs">
                        <i class="fa fa-edit"></i> Edit
                      </a>
                  </td>
                </tr>
            </tbody>
          </table>
        </div><!-- /.box-body -->
      </div><!-- /.box -->
    </div>
  </div>
</section>